<article>
<header>
  <h1>About us</h1>
</header>
<section>
  <header>
    <h2>History</h2>
  </header>
  <p>The Club was founded in 2012 taking over a bowling green from a bowls club that had closed. The site is leased from Sutton Council.
  </p>  

  <p>The Club is affiliated to the 
    <a href='www.croquet.org.uk'>Croquet Association</a> 
    and
    <a href='www.croquet.org.uk/secf/'>The South East Croquet Federation </a>
  <p>  
</section>
<section>
  <header>
    <h2>Facilities</h2>
  </header>
  <p> The Club took over a high quality bowling green which the members now maintain. There is room for one full-sized croquet lawn with an additional area which can be used for bowls so that both games can be played at the same time. Generally however there are separate sessions for croquet and bowls and the two games co-exist comfortably together.
  </p>
  <p>There is a large clubhouse with tea and coffee making facilities and toilets. The Clubhouse can comfortably accommodate forty people for social events and meetings.
  </p>
  <p>
The Club is open for playing croquet all year unless the lawn is frosted or very wet. Bowls is generally played between April and September.
Club sessions
  </p>
  <p>There are Club sessions for Golf Croquet on Tuesday, Wednesday and Saturday mornings and Thursday and Sunday afternoons. There is one session for Association Croquet each Sunday morning and two sessions for Bowls on Monday and Wednesday afternoons between April,and September. 
  </p>
  <p>The morning sessions are from 10am – 1pm. In the summer afternoon sessions are from 2 – 5pm and in the winter from 1 - 4pm.
  </p>
  <p>During Club sessions members play with whichever other members are present. If you arrive at a Club session and there is no one else there it is a good opportunity to set the hoops out and do some practice. This sort of practice can be very valuable in improving your skills. 
  </p>
  <p>
Play on the full lawn when you can as it is much better practice. The half lawns should normally only be used when there are more than 8 members at a session. 
  </p>
  <p>
When there are not club sessions or club events, the lawn can be booked by members for games which they have arranged.
  </p>
</section>
<section>
  <header>
    <h2>Coaching</h2>
  </header>
  <p>The Club now has 4 qualified Croquet coaches – Ian and Jean Cobbold for Golf Croquet and Neil Coote and Jon Criddle for Association Croquet. 
  </p>
  <p>
Golf croquet coaching sessions are offered during the spring and summer and  members can ask any of the coaches for assistance at any time.
  </p>
  <p>Members who would like coaching for Bowls should contact John Davies..</p> 
</section>
<section>
  <header>
    <h2>Competitions and matches</h2>
  </header>
  <p>The Club organises a number of internal competitions which are a good introduction to competitive play. Some members play in external tournaments organised by the Croquet Association, South East Croquet Federation (SECF) or other clubs.
  </p>
  <p>The Club enters a team in the SECF’s Handicap Golf League and hopes to be able to enter a team in an Association League in 2015.
  </p>
  <p>The Club had a successful season in 2014 winning its first trophy in the Doubles Competition at the SECF’s Golf Teams Day and coming 4th in the SECF’s Golf Handicap League, out of 16 teams.
  </p>
</section>
<section>
  <header>
    <h2>Social Events</h2>
  </header>
  <p>The Club holds a number of social events including monthly tea and cakes afternoons during the summer, a BBQ, a Quiz Night and an Annual Dinner.
  </p>
</section>
</article>  
