<!-- Jumbotron in the home page -->
<header class="jumbotron">
  <h1>Cheam Croquet and Bowls Club</h1>
  <br><br>
 <!-- <h1>Criquet is here! </h1>
  <p>Here you can find all you need to know about our Cheam Croquet Club</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
</header>
<article>
  <section>
    <p>
      Welcome to the Cheam Croquet and Bowls Club's web site. You will find here the details         of how to contact and join us, together with some basic information about the Club.         </p>
    <p>
      The Club is located in Cheam Recreation Ground, and has one full-sized croquet lawn           within a bowling green. Currently we have 81 members, with 70 primarily playing Croquet       and 11 primarily playing Bowls.
    </p>
  
    <p>
      Members of the public are welcome to try playing croquet or bowls during our regular           club sessions between April and September. The first 4 sessions are free after which you       would be expected to join the Club – there is a waiting list for croquet membership – or       to come as the guest of a member. 
    </p>

    <p> 
      The Club runs a public coaching course for croquet each summer, usually in August.
    </p>
  </section>
</article>
