<article>
<header>
  <h1>How to Join</h1>
</header>
<section>
  <p>To join the Club you should contact the Secretary, Jean Cobbold, by e-mail <a href=' mailto:cheamcroquetbowlsclub@gmail.com?subject=join%20the%20club%20request'>cheamcroquetbowlsclub@gmail.com</a> or phone 0208642 0533. The Club’s year runs from 1st April. The annual subscription is £75. There is no joining fee.
  </p>
  <p>
There is currently a waiting list for croquet membership but not for bowls membership.
  </p>  
</section>
</article>  
