<article>
<header>
  <h1>Helpful Websites</h1>
</header>
<section>
  <h2>Really helpful links to help you get started</h2>

  <ul class="list-group">
      <li class="list-group-item"> <a href='http://www.croquet.org.uk/'>The croquet Association</a> 
      </li>
      <li class="list-group-item"> <a href='http://www.southeastcroquet.org.uk/'>SECF</a> 
      </li>
      <li class="list-group-item"> <a href='http://www.thecroquetacademy.com/'>Croquet Academy</a> 
      </li>
      <li class="list-group-item"> <a href='http://www.oxfordcroquet.com/equip/'>Croquet Equipment</a> 
      </li>
      <li class="list-group-item"> <a href='http://cornwall-croquet.org.uk/croquet_glossary.htm'>Croquet Glossary</a> 
      </li>
      <li class="list-group-item"> <a href='http://www.croquet.org.uk/association/laws.html'>Croquet Rules</a> 
      </li>
  </ul>
</section>
</article>  
