<article>
<header>
  <h1>What you need</h1>
</header>
<section>
  <p>The only requirement to start with is that you should wear flat-soled shoes in order to avoid damage to the lawn. When you join the Club and start to learn how to play the games you do not need to be involved in any expense as far as equipment is concerned. The Club provides mallets, ball and hoops for croquet and woods for bowls. Once you have decided that you like the game you will probably want to buy your own mallet for croquet or woods for bowls.
  </p>
  <p>When you start playing in matches and external tournaments you will need to get "whites" to play in as this is the accepted norm for matches and tournament play. 
  </p>  
</section>
</article>