<article>
  <header>
    <h1>Newsletters</h1>
  </header>
  <section class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @year = nil %>
      <% @newsletters.order('date DESC').each do |newsletter| %>
      <%if(@year != newsletter.date.year.to_s) %>
      <tr>
        <td colspan="2" class="tableTitle">Newsletters of <%= newsletter.date.year.to_s %></td>
      </tr>
      <%end%>
        <tr>
          <td><a href='<%= newsletter.newsletter%>'><%=newsletter.name %></a></td>
          <td><%= newsletter.date.strftime("%d/%m/%Y") %></td>
        </tr>
      <% @year = newsletter.date.year.to_s %>
      <% end %>
    </tbody>
  </table>
  </section>
</article>