@font-face{
      font-family: Allura;
      src: url('fonts/Allura-Regular.otf') format('opentype');
}

$font-stack:    Helvetica, sans-serif;
$primary-color: #8AB800;//#26AF18; // light green for nav, h2 fonts 
$secondary-color: #ffffff; // footer font, selected font nav
$tertiary-color: #4f4f4f; // dark brown for nav background, h1 font, footer background.
$light-grey-color: #ebebeb;

/*overides initial body style from bootstrap */
body{
    max-width: 1200px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-stack; 
    text-align: justify;
    font-size: 19px
}
/*mobile phone*/
@media (max-width:800px){
  body, footer{
    margin:5%;
  }
}
// displays the site as table, for responsive footer
.main-page{
  display: table;
  height: 100%;
  width: 100%;
  background-color: $light-grey-color;
  table-layout: fixed;
}

footer{
  display: table-row;
  padding: 20px 0;
  height: 20px;
  background-color: $tertiary-color;
  color: $secondary-color;
  text-align: right;
}
//start nav bar
.navbar{
   margin: 0px;
}
.navbar-brand{
  float: none;
}
.container-fluid{
  background-color: $tertiary-color;
}
.navbar-default{
    background-color: transparent;
    border: none;
    font-size: medium;
}
.navbar-default .navbar-nav > li > a{
  color: $primary-color;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color: $secondary-color;
  border-bottom: thick solid $primary-color;
  background-color: transparent;
}//end nav style

/*jumbotron contains a faded image, white font and no borders*/
.jumbotron{
  background: url('/assets/croquetImage.jpg') no-repeat;
  color: $secondary-color;
  /*border-radius: 17px;*/
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

/*maintains the ratio in background images*/
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }
  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  width: $width;
  height: 0;
  /*padding-bottom: $height;*/
}
article {
  padding: 5% 15%;
}

h1{
  font-family: 'Allura';
  color: $tertiary-color;
  font-size: 90px;
  text-align: center;
  font-weight: bold;
}
.list-group-item{
  background-color: $tertiary-color;
}
 strong, .tableTitle{
  color: $tertiary-color;
   
}

a{
  color: $primary-color;
}
th{
  background-color: $primary-color;
  border: none;
  font-size: 18px;
  color: $secondary-color;
}
tr, .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th, .table > tbody > tr > td{
  background-color: transparent;
  border-bottom: 1px solid $primary-color;
}

.tableTitle{
  font-family: 'Allura';
  font-weight:bold;
  font-size: 25px;
}

.btn-success{
  background-color: $primary-color;
  border-color: $primary-color;
}
.booked {
 color: #FF9999;
}

