
body{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
   font-family: Arial, Sans-serif; 
    text-align: justify;
    
}

@media (max-width:768px){
  body{
    margin-left:7%;
    margin-right:7%;
  }
}

.navbar-default .navbar-toggle{
  border-color: transparent;
}

.jumbotron{
  background: url('/assets/croquetImage.jpg') no-repeat;
  border-radius: 17px;
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

/*maintains the ratio in background images*/
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }
  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  width: $width;
  height: 0;
  padding-bottom: $height;
}

@font-face {
    font-family: 'open_sansregular';
    src: font-url('OpenSans-Regular-webfont.eot');
    src: font-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Regular-webfont.woff') format('woff'),
         font-url('OpenSans-Regular-webfont.ttf') format('truetype'),
         font-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{
  font-family: 'open_sansregular';
}

h2 {
  color: #41A317;
}
.container-fluid{
 /* background-color: #DEDEDC;*/
  border-radius:17px;
  background: -webkit-linear-gradient(180deg, #EAF6EA, #BEC7BE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(180deg, #EAF6EA, #BEC7BE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(180deg, #EAF6EA, #BEC7BE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #EAF6EA, #BEC7BE); /* Standard syntax (must be last) */
}
.navbar-default{
    background-color: transparent;
    border: none;
    font-size: medium;
}
.navbar-default .navbar-nav > li > a{
  color: #347C2C;
}

li:hover{
  background-color:  #D4DBC9;
  border-radius: 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color: #ffffff;
  background-color: #347C2C;
  border-radius: 10px;
  
}
.location-container{
  overflow: hidden;
  @include maintain-ratio(1 1);
}
.map-show{
  @include maintain-ratio(1 1);
  
}




